@import 'general.scss';

.card {
  margin-top: 30px;
  cursor: pointer;
  border-radius: 5px;
  padding: 12px;
  width: 800px;
  @include shadow;
}

.card:hover {
  @include hover-shadow;
}

.left-box {
  width: 340px;
  min-width: 340px;
  display: block;
  margin-right: 25px;
}

.left-box img {
  border-radius: 5px;
}

.right-box {
  flex-direction: column;
}

.attr-name {
  line-height: 1.3;
  font-size: 30px;
  line-height: 1.3;
  font-weight: bold;
}

.attr-addr {
  font-size: 17px;
  margin-top: 12px;
  color: grey;
  line-height: 1.3;
}

@media (max-width: $phone-width) {
  .card {
    width: 85vw;
  }

  .left-box {
    width: 80px;
    min-width: 80px;
  }

  .right-box {
  }

  .attr-name {
    font-size: 18px;
  }

  .attr-addr {
    font-size: 14px;
    margin-top: 6px;
  }
}
