@import 'general.scss';

.btn[aria-label][data-balloon-pos] {
  width: 45px;
  height: 45px;
  border-radius: 99em;
  position: absolute;
  top: 30px;
  right: calc((100vw - #{$detail-width}) / 2);
  align-items: center;
  justify-content: center;
  font-size: 18px;
  cursor: pointer;
  background-color: $bg-orange;
  border-radius: 99em;
  @include shadow;
}

.btn:hover {
  @include hover-shadow;
}

.btn.prev[aria-label][data-balloon-pos] {
  top: 105px;
}
.btn.next[aria-label][data-balloon-pos] {
  top: 175px;
}

@media (max-width: $phone-width) {
  .btn[aria-label][data-balloon-pos] {
    top: unset;
    right: 30px;
  }

  .btn:hover {
  }

  .btn.prev[aria-label][data-balloon-pos] {
    top: unset;
    bottom: 90px;
  }
  .btn.next[aria-label][data-balloon-pos] {
    top: unset;
    bottom: 30px;
  }
}
