@import 'general.scss';

.wrapper {
  display: block;
  overflow: auto;
  width: 100vw;
  height: 100vh;
}

.list {
  display: block;
  margin-left: 20vw;
  padding-bottom: 80px;
}

.loading {
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.hint-bar {
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 800px;
}

@media (max-width: $pad-width) {
  .list {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
  }

  .hint-bar {
    width: 85vw;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: $phone-width) {
  .list {
    margin-left: auto;
    margin-right: auto;
    padding: 0 25px;
  }
}
