$blue: #2a384f;
$bg-orange: #fffcf7;
$orange: #e09358;
$pad-width: 1080px;
$phone-width: 770px;
$detail-width: 1100px;
@mixin shadow {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

@mixin hover-shadow {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.05);
  transform: translate(-2px, -2px);
}

@media (max-width: $pad-width) {
  $detail-width: 900px !global;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $blue;
  background-color: $bg-orange;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
